@CHARSET "UTF-8";

div.mod_tracksranking table th {
border-bottom:1px solid #ECECEC;
padding-bottom:4px;
text-align:left;
}

div.mod_tracksranking table th, div.mod_tracksranking table td {
background-color:#FFFFFF;
border-collapse:collapse;
margin:0pt 0pt 1px;
padding:2px 10px;
}