<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="basic" label="COM_TRACKS_SETTINGS_BASIC_LABEL"
		description="COM_TRACKS_SETTINGS_BASIC_DESC">

		<field type="radio" name="user_registration" default="0" class="btn btn-group"
			label="COM_TRACKS_Allow_users_registration" description="COM_TRACKS_Allow_user_to_create_a_tracks_profile">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>

		<field type="text" name="image_max_size" default="120"
			label="COM_TRACKS_MAXIMAGESIZE" description="COM_TRACKS_MAXIMAGESIZEDESC" />

		<field type="text" name="default_individual_images_folder"
			label="COM_TRACKS_SETTINGS_DEFAULT_IMAGE_FOLDER_INDIVIDUALS_LABEL"
			description="COM_TRACKS_SETTINGS_DEFAULT_IMAGE_FOLDER_INDIVIDUALS_DESC"
			default="tracks/individuals" />

		<field type="text" name="default_team_images_folder"
			   label="COM_TRACKS_SETTINGS_DEFAULT_IMAGE_FOLDER_TEAMS_LABEL"
			   description="COM_TRACKS_SETTINGS_DEFAULT_IMAGE_FOLDER_TEAMS_DESC"
			   default="tracks/teams" />

		<field type="text" name="date_format" default="Y-m-d"
			label="COM_TRACKS_SETTINGS_DATE_FORMAT_LABEL" description="COM_TRACKS_SETTINGS_DATE_FORMAT_DESC" />

	</fieldset>

	<fieldset name="views" label="COM_TRACKS_SETTINGS_VIEWS_LABEL"
		description="COM_TRACKS_SETTINGS_VIEWS_DESC">
		<field type="spacer" default="INDIVIDUAL VIEW SETTINGS" />
		<field type="radio" name="show_dob" default="1" class="btn btn-group"
			   label="COM_TRACKS_SETTING_SHOW_DOB" description="COM_TRACKS_SETTING_SHOW_DOB_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="radio" name="show_gender" default="1" class="btn btn-group"
			   label="COM_TRACKS_SETTING_SHOW_GENDER" description="COM_TRACKS_SETTING_SHOW_GENDER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="radio" name="indview_showresults" default="1" class="btn btn-group"
			label="COM_TRACKS_SHOW_INDIVIDUAL_RESULTS" description="COM_TRACKS_SHOW_INDIVIDUAL_RESULTS_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showteam" default="1" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_TEAM" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_TEAM_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showproject" default="1" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_PROJECT" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_PROJECT_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showcompetition"
			default="0" label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_COMPETITION" class="btn btn-group"
			description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_COMPETITION_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showseason" default="0" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_SEASON" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_SEASON_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showrace" default="1" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_RACE" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_RACE_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_onlypointssubrounds" class="btn btn-group"
			default="1" label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_ONLY_POINTS_EVENT"
			description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_ONLY_POINTS_EVENT">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showperformance" class="btn btn-group"
			default="1" label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_PERFORMANCE"
			description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_PERFORMANCE_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_showrank" default="1" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_RANK" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_RANK_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="indview_results_points" default="1" class="btn btn-group"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_POINTS" description="COM_TRACKS_INDIVIDUAL_RESULTS_SHOW_POINTS_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="list" name="indview_results_ordering" default="1"
			label="COM_TRACKS_INDIVIDUAL_RESULTS_ORDERING" description="COM_TRACKS_INDIVIDUAL_RESULTS_ORDERING_DESC">
			<option value="ASC">COM_TRACKS_INDIVIDUAL_RESULTS_ORDERING_ASC</option>
			<option value="DESC">COM_TRACKS_INDIVIDUAL_RESULTS_ORDERING_DES</option>
		</field>


		<field type="spacer" default="COM_TRACKS_RESULTS_VIEW_SETTINGS" />
		<field type="radio" name="resultview_results_showrounddesc" class="btn btn-group"
			default="1" label="COM_TRACKS_RESULTS_VIEW_SHOW_ROUND_DESC"
			description="COM_TRACKS_RESULTS_VIEW_SHOW_ROUND_DESC_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
		<field type="radio" name="resultview_results_showsubrounddesc" class="btn btn-group"
			default="1" label="COM_TRACKS_RESULTS_VIEW_SHOW_EVENT_DESC"
			description="COM_TRACKS_RESULTS_VIEW_SHOW_EVENT_DESC_DESC">
			<option value="0">COM_TRACKS_No</option>
			<option value="1">COM_TRACKS_Yes</option>
		</field>
	</fieldset>

	<fieldset name="individual" label="COM_TRACKS_SETTINGS_INDIVIDUAL_LABEL">
		<field
			name="nickname_over_name"
			type="radio"
			class="btn btn-group"
			default="0"
			label="COM_TRACKS_SETTING_NICKNAME_OVER_NAME"
			description="COM_TRACKS_SETTING_NICKNAME_OVER_NAME_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_nickname"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_NICKNAME"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_NICKNAME_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_gender"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_GENDER"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_GENDER_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_height"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_HEIGHT"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_HEIGHT_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_weight"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_WEIGHT"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_WEIGHT_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_dob"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_DOB"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_DOB_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_hometown"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_HOMETOWN"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_HOMETOWN_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="enable_individual_address"
				type="radio"
				class="btn btn-group"
				default="1"
				label="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_ADDRESS"
				description="COM_TRACKS_SETTING_ENABLE_INDIVIDUAL_ADDRESS_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_tracks"
			section="component" />
	</fieldset>
</config>
