@CHARSET "UTF-8";
/** tooltip for mootools 1.1 **/
.tip-mod-result-tip {
   color: #000;
   width: 130px;
   z-index: 13000;
}

.tip-mod-result-title {
   font-weight: bold;
   font-size: 11px;
   margin: 0;
   color: white;
   padding: 8px 8px 4px;
   background: grey;
   border-bottom: 1px solid grey;
}

.tip-mod-result-text {
   font-size: 11px;
   padding: 4px 8px 8px;
   background: lightgrey;
}
/** end of tooltip for mootools 1.1 **/

div.mod_tracksresults table th {
border-bottom:1px solid #ECECEC;
padding-bottom:4px;
text-align:left;
}

div.mod_tracksresults table th, div.mod_tracksresults table td {
background-color:#FFFFFF;
border-collapse:collapse;
margin:0pt 0pt 1px;
padding:2px 10px;
}